body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

header p {
    font-size: 1.2em;
    color: #888;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
    font-weight: bold;
}

.social-link {
    position: absolute;
    top: 10px;
    right: 10px;
}

.social-link img {
    width: 30px;
    height: 30px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: calc(50% - 20px);
    margin-bottom: 15px;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px;
    }

    .project-container {
        flex-direction: column;
    }

    article {
        width: 100%;
    }
}